@{
    ViewBag.Title = "About this web app";
}
<h2>@ViewBag.Title</h2>
<h3>Notes:</h3>

<ul>This web app is an updated version of previous C# with ASP.NET Web Form app built from scratch.</ul>
<ul>This web app is built using latest technology i.e. MVC pattern with Entity framework, C# and ASP.NET.</ul>
<ul>This web app is still on development.</ul>
<ul>Lumen bootstrap theme is used.</ul>
