@{
    ViewBag.Title = "Contact";
}
<h2>@ViewBag.Title</h2>
<p>My email is included below for you to contact me asap regarding your queries.</p>

<address>
    <strong>Email:</strong>   <a href="mailto:munagrg126@gmail.com">munagrg126@gmail.com</a><br />
</address>